.row
  .col-lg-12
    .media
      a.pull-left(href='#')
        //img.media-object.img-circle(src='http://lorempixel.com/30/30/people/1/', alt='')
      .media-body
        h4.media-heading(style='color:#{namecolor};')
          | #{username}
          span.small.pull-right #{currenttime}
        p(style='font-size:125%;')
          | #{message}
hr