html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='description', content='')
    meta(name='author', content='')
    //if IE
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title weChat
    // JQUERY
    script(src="https://code.jquery.com/jquery-1.10.2.min.js")
    // BOOTSTRAP CORE STYLE CSS
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet')
    // FONT AWESOME  CSS
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', rel='stylesheet')
    //sileout js
    script(src="https://cdnjs.cloudflare.com/ajax/libs/slideout/0.1.11/slideout.js")
    // CUSTOM STYLE CSS
    link(href='../css/style.css', rel='stylesheet')
  body
    nav#menu.menu
      section.menu-section
        ul.places Places 
      section.menu-section
        ul.polls Polls 
      section.menu-section
        ul.images Images 
    ul.page#panel.panel
      li.chat.page
        .container-fluid.fill
          .row.fill
            .col-lg-12.col-md-12.col-sm-12
              .chat-box-div
                .chat-box-head
                  | #{chatroomname}
                  button.toggle-button.pull-left(style="background-color:#222;border:none;") ☰
                .panel-body.chat-box-main(style='height:82%')
                  div(style='height:100%')
                div.typing
                .chat-box-footer
                  .input-group
                    input.form-control(type='textarea', placeholder='Enter Text Here...')
                    span.input-group-btn
                      button.btn.btn-info(type='button') SEND
      li.login.page
        .form
          h3.title What's your nickname?
          input.usernameInput(type='text', maxlength='14')
      // CORE JQUERY SCRIPTS FILE
      script(src='/socket.io/socket.io.js')
      script(src='/jade/runtime.js')
      script(src='/js/all.js')
      script(src='/js/main.js')
